<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout-config.html::configFragment">
</head>
    <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:replace="/layout/layout-nav.html::navFragment">
    </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" th:replace="/layout/layout-sidebar.html::sideFragment">
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container" style="margin-top: 50px;">
                        <form id="form1" action="/board/delete" method="post">
                            <div>
                                <input type="hidden" name="boardstatus" value="u">
                                <input type="hidden" name="id" th:value="${view.seq}">
                                <input type="hidden" name="page" th:value="${#request.getParameter('page')}">
                                <table class="table table-striped table-hover table-bordered">
                                    <tr>
                                        <td>작성자</td>
                                        <td><span th:utext="${session.login.email}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>제목</td>
                                        <td><span th:utext="${view.subject}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>등록일</td>
                                        <td><span th:utext="${#temporals.format(view.createDate, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>수정일</td>
                                        <td><span th:utext="${#temporals.format(view.modiDate, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>파일</td>
                                        <td>
                                            <span th:each="m, i: ${view.fileNames}">
                                                <a th:href="@{/upload/{fileName}(fileName=${m})}" th:utext="${m}"></a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>내용</td>
                                        <td><div th:utext="${view.body}" style="width: 300px; height: 200px;"></div></td>
                                    </tr>
                                </table>
                                <div class="text-center">
                                    <a th:if="${session.login.email eq view.regUser}" th:href="@{/board/update(page=${#request.getParameter('page')},id=${view.seq})}" class="mx-lg-1 btn btn-primary">수정</a>
                                    <a th:if="${session.login.email eq view.regUser}" onclick="del()" class="mx-lg-1 btn btn-danger">삭제</a>
                                    <a th:href="@{/board(page=${#request.getParameter('page')})}" class="mx-lg-1 btn btn-danger">목록보기</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto" th:replace="/layout/layout-footer.html::footerFragment">

                </footer>
            </div>
        </div>

        <script>
        /*<![CDATA[*/
            function del() {
                var form = document.getElementById("form1");
                form.submit();
            };

            /*]]>*/
        </script>
        <script src="/common/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    </body>
</html>
